@page
@model LIA.Admin.Pages.ItemTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@await Html.PartialAsync("_Create-BackToDashboardButtonPartial")

<table class="table table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemType.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemType.First().Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItemType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-right">
                    @await Html.PartialAsync("_ButtonPartial", @item.Id.ToString())
                </td>
            </tr>
        }
    </tbody>
</table>
