@page
@model LIA.Admin.Pages.Courses.IndexModel


@{
    ViewData["Title"] = "Index";
}

<div class="well well-lg text-center" style="margin: 20px 0 20px 0">
    <h2> Course/ Index</h2>
</div>

<div class="row" style="padding: 0 5% 0 5%">
    <div class="panel">
        @await Html.PartialAsync("_Create-BackToDashboardButtonPartial")
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Course[0].Author.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Course)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.Name)
                    </td>
                    <td class="text-right">
                        @await Html.PartialAsync("_ButtonPartial", @item.Id.ToString())
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>


