@page
@model LIA.Admin.Pages.Modules.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="well well-lg text-center" style="margin: 20px 0 20px 0">
    <h2> Module/ Index</h2>
</div>

<div class="row" style="padding:0 5% 0 5%">
    <div class="panel">
        @await Html.PartialAsync("_Create-BackToDashboardButtonPartial")
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Module.First().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Module.First().Course.Title)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Module)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Title)
                    </td>
                    <td class="text-right">
                        @await Html.PartialAsync("_ButtonPartial", @item.Id.ToString())
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>