@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="well well-lg text-center" style="margin: 20px 0 20px 0">
    <h2> Admin Dashboard</h2>
</div>


<div class="container" style="padding: 30px">
    <div class="row">
        <div class="col-sm-6">
            <div class="list-group">
                <a href="./Authors" class="list-group-item Author">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-user"></i>
                    </h3>
                    <h4 class="list-group-item-heading">
                        @ViewBag.authorCounter
                    </h4>
                    @if (ViewBag.authorCounter == 1)
                    {<p class="list-group-item-text">Instructor</p>}
                    else
                    {<p class="list-group-item-text">Instructors </p>}
                </a>

                <a href="./Courses" class="list-group-item Course">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-blackboard"></i>
                    </h3>
                    <h4 class="list-group-item-heading">
                        @ViewBag.courseCounter
                    </h4>
                    @if (ViewBag.courseCounter == 1)
                    {<p class="list-group-item-text">Course </p>}
                    else
                    {<p class="list-group-item-text">Courses </p>}
                </a>

                <a href="./ItemTypes" class="list-group-item ItemType">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-film"></i>
                    </h3>
                    <h4 class="list-group-item-heading">
                        @ViewBag.itemTypeCounter
                    </h4>
                    @if (ViewBag.itemTypeCounter == 1)
                    {<p class="list-group-item-text">Resource Type </p>}
                    else
                    {<p class="list-group-item-text">Resource Types</p>}
                </a>

                <a href="./Items" class="list-group-item Item">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-file"></i>
                    </h3>
                    <h4 class="list-group-item-heading">
                        @ViewBag.itemCounter
                    </h4>
                    @if (ViewBag.itemCounter == 1)
                    {<p class="list-group-item-text">Item </p>}
                    else
                    {<p class="list-group-item-text">Items</p>}
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="list-group">
                <a href="./Users" class="list-group-item User">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-education"></i>
                    </h3>
                    <h4 class="list-group-item-heading">@ViewBag.userCounter</h4>
                    @if (ViewBag.userCounter == 1)
                    {<p class="list-group-item-text">User </p>}
                    else
                    {<p class="list-group-item-text">Users</p>}

                </a>
                <a href="./Modules" class="list-group-item Module">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-th-list"></i>
                    </h3>
                    <h4 class="list-group-item-heading">
                        @ViewBag.moduleCounter
                    </h4>
                    @if (ViewBag.moduleCounter == 1)
                    {<p class="list-group-item-text">Module </p>}
                    else
                    {<p class="list-group-item-text">Modules </p>}
                </a>
                <a href="./UserCourses" class="list-group-item UserCourse">
                    <h3 class="pull-right">
                        <i class="icon glyphicon glyphicon-book"></i>
                    </h3>
                    <h4 class="list-group-item-heading">
                        @ViewBag.ucCounter
                    </h4>
                    @if (ViewBag.ucCounter == 1)
                    {<p class="list-group-item-text">User Course </p>}
                    else
                    {<p class="list-group-item-text">User Courses</p>}
                </a>
            </div>
        </div>
    </div>
</div>

