@page
@model LIA.Admin.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="well well-lg text-center" style="margin: 20px 0 20px 0">
    <h2> Item/ Index</h2>
</div>

<div class="row" style="padding: 0 5% 0 5%">
    <div class="panel">
        @await Html.PartialAsync("_Create-BackToDashboardButtonPartial")
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.First().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.First().URL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.First().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.First().ImageUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.First().ItemType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Item.First().Module.Title)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.URL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Module.Title)
                    </td>
                    <td class="text-right">
                        @await Html.PartialAsync("_ButtonPartial", @item.Id.ToString())
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>
