@page
@model LIA.Admin.Pages.UserCourses.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="well well-lg text-center" style="margin: 20px 0 20px 0">
    <h2> User Course/ Index</h2>
</div>

<div class="row" style="padding: 0 10% 0 10%">
    <div class="panel">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCourses[0].User.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCourses[0].Course.Title)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var uc in Model.UserCourses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => uc.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => uc.Course.Title)
                        </td>
                        <td>
                            <a class="btn btn-danger glyphicon glyphicon-remove" asp-page="./Delete" asp-route-courseId="@uc.CourseId" asp-route-userId="@uc.UserId"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("_Create-BackToDashboardButtonPartial")
</div>
